body{
    font-family: 'Poppins', sans-serif; 
    margin: 0;
    padding: 0;
}

h1{
    font-size: 50px;
}

h2{
    font-size: 36px;
}

section{
    margin-bottom: 50px;
}

.banner-top{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.colored-header{
    color: orangered;
}

.flex-sec{
    display: flex;
}

.half-width{
    padding-left: 2%;
    width: 50%;
}

.half-width p{
    margin-bottom: 40px;
}

.half-width img{
    width: 80%;
}

.btn{
    text-decoration: none;
    font-weight: 700;
    background-image: linear-gradient(45deg, red, blue);
    color: white;
    padding: 16px 40px;
    border-radius: 6px;
}

.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience-sec{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.exp-item{
    width: 40%;
    margin-left: 5%;
    box-shadow: 10px 10px 15px gray;
    padding:10px 10px 50px 36px;
    letter-spacing: 4;
    border-radius: 10px;
}

#f-dev{
    border-left: 10px solid;
    border-image: linear-gradient(red, blue);
    border-image-slice: 1;
}
#w-dev{
    border-left: 10px solid;
    border-image: linear-gradient(red, blue);
    border-image-slice: 1;
}

footer{
    text-align: center;
    font-size: 22px;
    font-weight: 400;
}